.container {
  margin-left: 40vh;
  text-align: center;
  padding: 20px;
}

.cards {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.card {
  border: 1px solid #ccc;
  width: 200px;
  padding: 10px;
  border-radius: 8px;
}

.card img {
  width: 100%;
  border-radius: 5px;
}
