.text {
  color: #fa7335;
}
.slogan {
  max-width: 100%;
  width: 35%;
}
.main-text {
  display: flex;
  justify-content: start;
  flex-direction: column;
}
.container {
  display: flex;
  justify-content: center;
  flex-direction: row;
}
.image-container {
  margin-left: -25%;
}
